@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "../../global.scss";

:root {
  --light: #d0d1d3;
  --dark: #040d14;
  --green: #21ce99;
}

.containerBox{
  display: flex;
  flex-direction: column;
  width: 100vh;
  //margin: 0 45px;

  .smallerBox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;


  .left{
    flex: 0.7;
    margin-left: 20px;
        
        .imgContainer{
            width: 650px; //862
            height: 550px; //862
            background-color: $main2;
            border-radius: 50%;
            display:flex;
            align-items: center;//flex-end
            justify-content: center;
            float: right;

            @include mobile{
                align-items: flex-start;
              }

            img{
                width: 100%;

                @include mobile{
                    align-items: center;
                    width: 50%;
                    height: 50%;
                  }
            }
        }
  }

  .right{
    align-items: center;
    margin-left: 10px;

    h1.mainP{
            width: 390px;
            margin-left: 170px;
            overflow: hidden;
            align-items: center;
            justify-content: space-around;
            $random-text: 'Contact Me';
            position: relative;
            text-transform: uppercase;
            font-size: 60px;
            font-family: 'Catamaran', sans-serif;
            color: rgba(crimson, 0.8);
            &:before {
              position: absolute;
              content: $random-text;
              color: rgba($blue, 0.8);
              top: 3px;
              left: 4px;
            }
            &:after {
              z-index: 2;
              position: absolute;
              content: $random-text;
              color: rgba(white, 0.8);
              top: 6px;
              left: 8px;
            }
    
    }
    
    form {
      margin-top: 20px;
      background: #5bccf6;
    }
    
    .formRow {
      margin: 10px 0 20px 0;
      width: 700px;
    }
    
    .formInputT {
      width: 330px;
      padding: 15px 10px;
      background-color: #5bccf6;
      //box-shadow: 0 0 0 2px white;
      //border: none;
      -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
         border-radius: 15px;
         border: 2px solid white;
      color: white;
      text-shadow: 1px 1px rgb(128, 128, 128);
    }
    
    .formInputO {
      width: 680px;
      padding: 15px 10px;
      background-color: #5bccf6;
      //box-shadow: 0 0 0 2px white;
      //border: none;
      -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
         border-radius: 15px;
         border: 2px solid white;
      color: white;
      text-shadow: 1px 1px rgb(128, 128, 128);
    }
    
    .formInputM {
      width: 680px;
      height: 180px;
      padding: 15px 10px;
      background-color: #5bccf6;
      //box-shadow: 0 0 0 2px white;
      //border: none;
      -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
         border-radius: 15px;
         border: 2px solid white;
      color: white;
      text-shadow: 1px 1px rgb(128, 128, 128);
    }
    
    .formInputO:focus {
      background-color: #5bccf6;
      outline: none !important;
      border-color: rgba(crimson, 0.8);
      //box-shadow: 0 0 0 2px crimson;
      color: rgba(crimson, 0.8);
    }
    
    .formInputT:focus {
      background-color: #5bccf6;
      outline: none !important;
      border-color: rgba(crimson, 0.8);
      //box-shadow: 0 0 0 2px crimson;
      color: rgba(crimson, 0.8);
    }
    
    .formInputM:focus {
      background-color: #5bccf6;
      outline: none !important;
      border-color: rgba(crimson, 0.8);
      //box-shadow: 0 0 0 2px crimson;
      color: rgba(crimson, 0.8);
    }
    
    .formInputO::placeholder {
      color: white;
      text-shadow: 1px 1px rgb(128, 128, 128);
      opacity: 1;
    }
    
    .formInputT::placeholder {
      color: white;
      text-shadow: 1px 1px rgb(128, 128, 128);
      opacity: 1;
    }
    
    .formInputM::placeholder {
      color: white;
      text-shadow: 1px 1px rgb(128, 128, 128);
      opacity: 1;
    }
    
    .formInputO:focus::placeholder {
      color: crimson;
      opacity: 1;
    }
    
    .formInputT:focus::placeholder {
      color: crimson;
      opacity: 1;
    }
    
    .formInputM:focus::placeholder {
      color: crimson;
      opacity: 1;
    }
    
    .errorMessage {
      color: crimson;
      font-size: 14px;
      margin: 0;
      padding: 0;
    }
    
    #notifyToast {
      color: #fff;
      border-radius: 6px;
      width: 200px;
      margin-left: 75px;
      background-color: white;
    }
    
    .submit-btn {
      background-color: #5bccf6;
      color: white !important;
      text-shadow: 1px 1px rgb(128, 128, 128);
      padding: 15px 50px;
      border: 2px solid white;
      border-radius: 10px;
      margin-bottom: 25px;
    }
    
    .submit-btn:hover {
      background-color: rgba(crimson, 0.9);
      color: #5bccf6 !important;
      border: 2px solid crimson;
    }
    
    .submit-btn:disabled:hover {
      background-color: #5bccf6;
      color: crimson !important;
      cursor: wait;
    }
    
    @media (max-width: 768px) {
      .submit-message {
        width: 125px;
        margin-left: 200px;
      }
    }
  }
}

  .Parent{
      z-index: 10;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      align-items: center;
      justify-content: center;
      margin: 0 10px; 

      .Column{
        display: flex;
        color: white;
        text-shadow: 1px 1px rgb(128, 128, 128);
        height: 70px;
        line-height: 70px;
        //text-align: center;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        margin: 5px 20px;
        border: 2px solid white;
        border-radius: 20px;

        .Icon{
          width: 40px;
          height: 40px;
          //color: rgba(221, 39, 75, 0.979);
          color: $main2;
          margin-right: 15px;
          background-color: white;
          border-radius: 5px;
          //margin-top: 80px;
        }
      }
    
  }

  /*.inform{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 300px;
    color: white;


    p{
      width: 200px;
      background-color: crimson;
      border-radius: 15px;

      .sIconP{
        width: 60px;
        height: 60px;
      }

    }

  }*/

  

  svg {
    height: 20px;
    width: 1500px;
    background-color: crimson;
    //position: absolute;
    //width: 100vw;
    //height: 100px;
    //display: none;
  }

  /*svg defs{
    height: 0;
    position: absolute;
    width: 0;
  }*/
   
  /*footer {
    
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    padding-bottom: 3rem;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    width: 100vw;
    height: 400px;
    bottom: 0;
    filter: url("#goo");
  }*/

  .Footer{
    position: relative;
    height: 200px;
    //margin-top: -200px;
    margin-bottom: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    padding-bottom: 3rem;
    justify-content: center;
    //overflow: hidden;
    //position: absolute;
    width: 100vw;
    height: 200px;
    bottom: 0;
    filter: url("#goo");

      h3 {
        z-index: 2;
        color: white;
        text-shadow: 1px 1px rgb(128, 128, 128);
        float: left;
        font-family: "Ubuntu", sans-serif;
        font-weight: lighter;
        font-size: calc(2vmin + 8px);
      }

      h1 span {
        font-weight: bold;
        color: white;
        text-shadow: 1px 1px rgb(128, 128, 128);
        //text-shadow: 0 0 15px rgba(255, 160, 54, 0.4);
      }
    
      
    
      @media only screen and (max-width: 700px) {
        ::after {
          clip-path: none;
          height: 150px;
        }
      }
    
      .ball {
        z-index: -3;
        width: 70px;
        height: 70px;
        border-radius: 45%;
        background-color: crimson;
        position: absolute;
        animation: up 5s cubic-bezier(0.18, 0.89, 0.32, 1.28) infinite;
      }
    
      @media only screen and (max-width: 700px) {
        .ball {
          animation: up-small 5s cubic-bezier(0.18, 0.89, 0.32, 1.28) infinite;
        }
      }

    @keyframes up {
      0% {
        bottom: 0px;
        width: 40px;
        height: 40px;
    }
    50% {
      bottom: 40px;
    }
    100% {
      bottom: 0px;
      width: 100px;
      height: 100px;
    }
  }

  @keyframes up-small {
  0% {
    bottom: 0px;
    width: 100px;
    height: 100px;
  }
  50% {
    bottom: 150px;
  }
  100% {
    bottom: 0px;
    width: 0px;
    height: 0px;
  }
}
  

}

.Footer::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75px;
  clip-path: url("#wave");
  background-color: crimson;
}
}


    //flex-direction: column;



/*body {
    font-family: Poppins;
    background: #5bccf6;
    line-height: 26px;
    margin: 0;
  }
  
h1 {
    color: var(--green);
}
  
  .App {
    height: 75vh;
    margin-top: 15vh;
  }*/

