body {
    /*align-items: center;*/
    background-color: #5bccf6;
  }
  
  .title {
    font-size: 15em;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
  }
  
  h3 {
    padding-top: 0.25em;
  }
  
  .vertical-timeline-element-content {
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
      0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
    padding: 2em 3em !important;
    background: linear-gradient(110deg, #eb93a5ef, #76b5f0 ) !important;
    color: white;
    text-shadow: 1px 1px rgb(102, 102, 102);
    /*
    background: linear-gradient(315deg, #5bccf6, #dc143c) !important;)
    background: linear-gradient(315deg, #5bccf6, #f9c74f) !important;))
    background: linear-gradient(315deg, #5bccf6, #06D6A0) !important;)))
    background: linear-gradient(315deg, #b6dcff, #b9b6e5) !important;(
    background: linear-gradient(315deg, #4facfe, #6699ff) !important;)
    background: linear-gradient(315deg, #d1c3fc, #9bc4fc) !important;)
    background: linear-gradient(315deg, #84f5de, #4cc5f8) !important;)
    background: linear-gradient(315deg, #f8ca9d, #fccdba) !important;))
    background: linear-gradient(315deg, #5bccf6, #fccdba) !important;)
    background: linear-gradient(315deg, rgba(255, 255, 255, 1), rgba(6, 214, 160, 0.8)) !important;
    background: linear-gradient(315deg, #087ee1, #05e8ba) !important;
    background: linear-gradient(315deg, #f6ebe6, #aee1f9) !important;))))
    background: linear-gradient(315deg, #98fcbd, #9cdaf8) !important;)))
    background: linear-gradient(315deg, #48a9fe, #0beef9) !important;)))
    background: linear-gradient(315deg, #fcd000, #76daff) !important;)
    background: linear-gradient(315deg, #f6d285, #bbf0f3) !important;))
    background: linear-gradient(315deg, #ffdd00, #fbb034) !important;)))
    background: linear-gradient(315deg, rgba(255, 221, 0, 0.9), rgba(251, 176, 52, 0.9)) !important;
    background: linear-gradient(315deg, #aacaef, #fde7f9 ) !important;

    .
    yellow one background: linear-gradient(110deg, #fbd0cce8,#f5efbef3 ) !important;))))))))))
    green one background: linear-gradient(110deg, #fbd0cce8,#bef5c5f3 ) !important;)))

    .
    */
  }
  
  .vertical-timeline-element-date {
    opacity: 1;
    color: #000000;
    text-shadow: 1px 1px rgb(141, 136, 136);
    margin: 0 1.5em;
    
  }

  /*.date {
    color: rgb(241, 0, 0);
  }*/
  
  #description {
    margin: 1.5em 0 2em 0;
  }
  
  .button {
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    color: white;
  }
  
  .workButton {
    background-color: #49A7FF;
  }
  
  .workButton:hover {
    background-color: #459df0;
  }
  
  .schoolButton {
    background-color: #49A7FF;
  }
  
  .schoolButton:hover {
    background-color: #459df0;
  }
  
  @media only screen and (max-width: 1170px) {
    .vertical-timeline-element-date {
      display: block !important;
      float: none !important;
      color: black;
      opacity: 1;
      margin-left: 0;
      margin-top: 1.5vh; 
    }
  }

  @media only screen and (max-width: 425px) {
    #description {
      margin: 0.5em 0 1em 0;
    }

    .vertical-timeline-element-title{
      font-size: 15px;
      color: #ffffff;
      text-shadow: 1px 1px rgb(0, 0, 0);
    }

    .button{
      display: none;
    }

  }

  