@import "../../global.scss";

.testimonials{
    background-color: $main2;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mobile{
        justify-content: space-around;
    }

    .cyber-text {

        overflow: hidden;
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
        $random-text: 'Testimonials';
        position: relative;
        text-transform: uppercase;
        font-size: 60px;
        font-family: 'Catamaran', sans-serif;
        color: rgba(crimson, 0.8);
        &:before {
          width: 100%;
          position: absolute;
          text-align: center;
          content: $random-text;
          color: rgba($blue, 0.8);
          top: 3px;
          left: 4px;
        }
        &:after {
            width: 100%;
            z-index: 2;
            position: absolute;
            text-align:center;
            content: $random-text;
            color: rgba(white, 0.8);
            top: 6px;
            left: 8px;
        }

        @include mobile{
            font-size: 35px;
        }
    }
        
    .container{
        width: 100%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile{
            flex-direction: column;
            height: 100%;
        }

        .card{
            color: #fffafa;
            background: linear-gradient(110deg, #eb93a5ef, #76b5f0 ) !important;
            width: 250px;
            height: 70%;
            border-radius: 10px;
            box-shadow: 0px 0px 15px -8px black;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 20px;
            transition: all 1s ease;

            @include mobile{
                width: 270px;
                height: 170px;
                margin: 10px 0;
                padding: 10px;
            }

            &.featured{
                width: 300px;
                height: 75%;
                margin: 0 35px;

                @include mobile{
                    width: 290px;
                    height: 180px;
                    margin: 1px;
                }
            }
            
            &:hover{
                transform: scale(1.1);
            }

            .top{
                display: flex;
                align-items: center;
                justify-content: center;

                img{
                    &.left,
                    &.right{
                        height: 20px;
                    }
                    &.user {
                        height: 80px;
                        width: 80px;
                        border-radius: 50%;
                        object-fit: cover;
                        margin: 0 30px;

                        @include mobile{
                            width: 50px;
                            height: 50px;
                        }
                    }
                }
            }

            .center{
                padding: 10px;
                border-radius: 10px;
                background: linear-gradient(110deg, rgba(221, 77, 106, 0.404), rgba(218, 79, 107, 0.411) ) !important;
                text-shadow: 1px 1px rgb(41, 41, 41);               

                @include mobile{
                    font-size: 12px;
                    padding: 5px;
                }
            }

            .bottom{
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;

                h3{
                    text-shadow: 1px 1px rgb(128, 128, 128);
                    margin-bottom: 5px;
                    color: white;
                    opacity: 80%;

                    @include mobile{
                        font-size: 12px;
                    }
                }

                h4{
                    color: $main4;
                    opacity: 90%;

                    @include mobile{
                        font-size: 11px;
                    }
                }
            }
        }
    }
}