@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Molle:ital@1&display=swap');

$main1: white;
$main2: #5bccf6;
$main3: #030e12;
$main4: crimson;
$blue: #49A7FF;

$width: 768px;
  
@mixin mobile {
    @media (max-width: #{$width}){
        @content
    }
}